@charset "utf-8";
/* CSS Document */

div.wrapper {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.hands{
	left: 0px;
    position: absolute;
    top: 120px;
}

.myImage{
	left: 0px;
    position: absolute;
    bottom: -5px;
	
	-moz-animation-delay:1s;
  	-webkit-animation-delay:1s;
	animation-delay:1s;
}
