@charset "utf-8";
/* CSS Document */

body {
	overflow: hidden;
	margin: 0 auto;
}

#myBackground {
    background-color:#fff;
    height:718px;
	position:relative;
    width:1024px;
}

.images {
    position: absolute;
}

.drop_area{
	left: 701px;
    position: absolute;
    top: 350px;
}
/* LOCAL NAVIGATION BUTTONS */
#prevButEx, #nextButEx {
	position:absolute;
	cursor:pointer;
}
#prevButEx {
    bottom: -45px;
    left: 5px;
}
#nextButEx {
    bottom: -45px;
    left: 80px;
}

/*
span.drop, span.dropC {
    border: medium dotted #FFFF00;
    display: inline-block;
    height: 165px;
    padding: 18px;
    width: 365px;
}*/


div.drags {
	left: 897px;
    position: absolute;
    top: 324px;
}

div.drags > span {
    display: block;
}


 ul.unfilled > li {
	cursor: pointer;
    display: block;
    margin-bottom: 20px;
 }
 
 ul.unfilled {
    left: -160px;
    position: relative;
    top: -382px;
 }
 
.invisible{
	opacity: 0;
}

.larges {
	left: 42px;
    list-style: outside none none;
    position: absolute;
    top: 205px;
}
 
#large1{
	left: 657px;
    position: absolute;
    top: 126px;
}
