@charset "utf-8";
/* CSS Document */

div.wrapper {
    background-image: url("../images/back.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}

/* GIF Animation */
.introAnimation{
    position: absolute;
	top: 0;
	
	visibility:hidden;
}

/* LOCAL NAVIGATION BUTTONS */
#prevButEx, #nextButEx {
	position:absolute;
	cursor:pointer;
}
#prevButEx {
    bottom: 5px;
    left: 5px;
}
#nextButEx {
    bottom: 5px;
    left: 80px;
}