@charset "utf-8";
/* CSS Document */

div.wrapper {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.man{
	cursor:pointer;
	
	left: 200px;
    position: absolute;
    top: 100px;
}

.woman{
	cursor:pointer;
	
	left: 550px;
    position: absolute;
    top: 100px;
}