@charset "utf-8";
/* CSS Document */

div.wrapper {
    background-image: url("../images/back.jpg");
    background-repeat: no-repeat;
    background-position: center center;
	
	/*
	-moz-animation-delay:0s;
  	-webkit-animation-delay:0s;
	animation-delay:0s;
	
	animation-duration: 3s;
	*/
}
.container {
    position: relative;
    top: 311px;
}

video {
    left: 210px;
    position: absolute;
    top: 325px;
}

/* LOCAL NAVIGATION BUTTONS */
#prevButEx, #nextButEx {
	position:absolute;
	cursor:pointer;
}
#prevButEx {
    bottom: 5px;
    left: 5px;
}
#nextButEx {
    bottom: 5px;
    left: 80px;
}


